{
  "presets": ["@babel/env", "@babel/typescript", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-syntax-dynamic-import",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
